
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Server Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to My Express Server</h1>
    <p>This is a basic HTML page served by an Express.js server.</p>
    
    <h2>Slider to controld TD</h2>
    <input type="range" class="controllTD">

    <h2>Slider controlled by TD</h2>
    <input type="range" class="controlledByTD">
    

    <input type="file" id="fileInput" accept=".mov, .mp4, image/*" capture="camera" />
    <button onclick="uploadFile()">Upload</button>
    <button onclick="openCamera()">Take Photo/Video</button>
    <!--<video id="cameraPreview" autoplay playsinline style="display: none; width: 100%; height: auto;"></video>-->
    <!--<button id="captureButton" style="display: none;" onclick="captureMedia()">Capture</button>-->



    <script src="/script.js" defer></script>
</body>
</html>
