@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Jacquard+12&family=Shippori+Antique&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --color-bg: #cccc99;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}


/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;

}

/*white shadow on all text of the body*/
body {
  text-shadow: 1px 0px 8px white, 0px 1px 8px white, -1px 0px 4px white, 0px -1px 2px white;
}


body, html {
  height: 100%;
  margin: 0;
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"], button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 4px 16px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #f0f0f3;
  color: black;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  :hover{
      background: rgba(0,118,255,0.9);
      box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
  }
}        

.shippori-antique-regular {
  font-family: "Shippori Antique", serif;
  font-weight: 400;
  font-style: normal;
}
.handjet-font {
  font-family: "Handjet", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 90%;

}


#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  text-align: center;
}



#progressBar {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#progressContainer {

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;

  z-index: 2;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



/* HTML: <div class="loader"></div> */
.loader-xo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
  transform: scale(2);
}
.loader-xo:before,
.loader-xo:after {
  content: "";
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#000 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #000);
  animation: l20 1s infinite;
}
.loader-xo:after {
  transform: scaleX(-1);
}
@keyframes l20 {
   0%   {background-position:0     0, 10px 10px, 20px 20px}
   33%  {background-position:10px  10px}
   66%  {background-position:0    20px,10px 10px,20px 0   }
   100% {background-position:0     0, 10px 10px, 20px 20px}
}

div.fullscreen-bricks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightblue; /* O una imagen de fondo */
  z-index: -1; /* Se asegura de que quede detrás de otros elementos */
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/bricks.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 300px 300px;
  opacity: 0.8;
}

.font-jacquard {
  font-family: 'Jacquard 12', serif;
}

.jac-title {
  font-family: 'Jacquard 12', serif;
  font-size: 3rem;
  /*color: #FF0000;*/
}

h1.jac-title {
  font-size: 3rem;
  /*color: #FF0000;*/
  margin-bottom: 1rem;
}


.jac-title {
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 59%, 100% {
    opacity: 1;
    font-color: #000;
  }
  20%, 24%, 55% {
    opacity: 0.5;
    font-color: #fff;
  }
  57%{
    opacity: 1;
    font-color: #fff;
  }
}




div.fullscreen-bricks {
  animation: bricks 100s infinite;
}

@keyframes bricks {
  0% {
    background-size: 300px 300px;
    opacity: 0.1;
  }
  50% {
    background-size: 600px 600px;
    opacity: 0.2;
  }
  100% {
    background-size: 300px 300px;
    opacity: 0.1;
  }
}


@media only screen and (max-width: 600px) {
  .page-container {
    height: 100%;
    width: 90%; 
  }
  .jac-title {
    font-size: 3rem;
  }

  #progressContainer {
    width: 80%;
  }
}
